*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
}

h1 {
    font-size: 250%;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

article {
    width: 60vw;
    background: aliceblue;
    margin: 0 auto;
    padding: 40px;
}

img {
    width: 100%;
}

section {
    display: flex;
}

.child {
    width: 50px;
    padding: 0 15px;
    width: 100%;
}

.child2 {
    width: 45%;
}

p {
    margin-bottom: 3%;
    text-align: justify;
    margin-top: 10px;
}

figcaption {
    font-size: 80%;
    font-style:italic;
}

audio {
    display:block;
    margin-top: 20px;
}

video {
    width: 100%;
    margin-bottom: 5px;
}